/*
Bo-Blog V2.0.3
Default Skin
By Celin.Fox
2007-2-13
*/

/****** General Styles ******/
body {
	border: 0;
	font-size: 12px;
	font-family: Tahoma, Arial;
	background-color: #F5F6F9;
	margin: 2px;
	padding: 0px;
	margin-bottom: 10px;
	text-align: center;
}
body .404 {
	background: url(images/others/404.gif) no-repeat 50% 0;
	background-color: #fff;
}

table {
	font-family: Tahoma, Arial;
	color: #d96b11;
	font-size: 12px;
}
td{
	word-break: break-all;
}

a {
	text-decoration: none;
	color: #d96b11;
}
a:hover {
	text-decoration: none;
	color:#000000;
	background-color: #ffffcc;
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid #CCCCCC;
}

acronym {
	text-decoration: none;
	border-bottom: 1px dotted #3F68A6;
	cursor: help;
}

/****** Form Controls Styles ******/
form {
	display: inline;
}
input {
	font-family: Tahoma, Arial; 
	font-size: 12px; 
}
input.text {
	height: 20px;
	padding: 1px;
	border: 1px solid #e2dfbe;
	color: #666666; 
	background-color: #f3f2e4;
}
input.button {
	height: 20px;
	border: 1px solid #e2dfbe;
	border-top: 1px solid #e2dfbe;
	border-left: 4px solid #e2dfbe;
	color: #c7b77e; 
	background-color: #f3f2e4;
}
textarea { 
	border: 1px solid #e2dfbe;
	background-color: #f3f2e4;
	font-family: Tahoma, Arial; 
	font-size: 12px; 
	color: #666666; }
select { 
	font-family: Tahoma, Arial; 
	font-size: 12px;  
	color: #c7b77e; 
	background-color: #f3f2e4;
	border: 1px solid #e2dfbe;
}


/****** Main Layout Styles ******/
#wrapper {
	margin:0 auto;
	width: 780px;
	/*position: relative;*/
	text-align: left;
}
#innerWrapper {
	background: url('images/main_bg.jpg') repeat-y; 
	width: 100%;
}

#header {
	background: url('images/header_bg.jpg') repeat-y;
}
#innerHeader {
	/* background: url('images/main_bg.jpg') no-repeat;  */
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 12px;
	height: 130px;
	vertical-align: bottom;
}

#footer {
	clear: both;
	background: url('images/footer_bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	height: 88px;
}
#footer a{
color: #ffffff;
}

#footer a:hover {
color: #000000;
}

#innerFooter {
	padding: 22px;
	padding-left: 77px;
	font-family: verdana;
	font-size: 9px;
	text-align: left;
	color: #ffffff;
}

/****** Header Elements Styles ******/
/* header title */
.blog-header {
	padding: 0px;
	padding-left: 100px;
	padding-right: 20px;
	padding-top: 40px;
}
h1 {
	padding: 0px;
	margin: 0px;
	color: black;
	font-size: 18px;
	font-weight: bold;
}
h1 a {
	color: #ffffff;
	text-decoration: none;
}
h1 a:hover {
	color: #D96B11;
	/* background-color: #fff; */
	text-decoration: none;
}

/* blog description */
.blog-desc {
	color: #ffffff;
}

/* nav menu */
#menu {
	margin-top: 20px;
	margin-left: 190px;
	height: 28px;
	/* background: url('images/menu_bg.gif') no-repeat; */
}
#menu ul{
	margin: 0px;
	padding: 0px;
}
#menu li{
	list-style: none;
	width: 68px;
	float: left;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#menu a{
	padding-top: 5px;
	display: block;
	color: #ffffff;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	/* background: url('images/menu_bg.gif') no-repeat;  */
}
#menu a:hover, #menu .activepage a {
	color: #ffffff;
	background: url('images/menu_bg.gif') no-repeat; 
}

/****** Content Layout ******/
#mainWrapper {
	margin-left: 25px;
	margin-right: 25px;
}

/* sidebar */
.sidebar {
	padding-top: 4px;
	padding-left: 0px;
	margin-left: 5px;
	float: left;
	width: 173px;
	height: 100%;
	background: url('images/sidebar_bg.jpg') ; 
}
.sidebar-hide {
	display: none;
	float: left;
	margin-left: 20px;
}
#innerSidebar {
	padding-bottom: 10px;
	padding-right: 4px;
	background: url('images/sidebar_bottom.jpg') no-repeat bottom;
}

/* content */
.content {
	float: right;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: -200px;
}
.content-wide {
	width: auto;
	margin-left: -180px;
}
.content-only {
	width: 100%;
	margin-left: 200px;
	padding-left: 20px;
}
#innerContent {
	margin-left: 200px;
	overflow: visible;
	margin-right: 5px;
	margin-top: 0px;

}

/* a style which makes mainWrapper touch the bottom of sidebar and content */
.clear{
	border-top:1px solid transparent !important;
	margin-top:-1px !important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}

/****** Sidebar Panels ******/
.panel{
	padding:0px;
	margin-bottom: 10px;
}
.panel h5 {
	text-align: left;
	color: #C7B77E;
	font-size: 12px;
	font-weight: bold;
	padding:2px;
	padding-left: 10px;
	padding-bottom: 4px;
	margin:0px;
	background: url('images/panel_line.jpg') no-repeat bottom; 
	cursor: pointer;
	cursor: hand;
}
.panel h5 a{
	color: #ffffff;
}
.panel-content{
	width: 150px;
	margin:0px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	line-height: 130%;
	color:#979797;
	border-top: 0px;
}
.panel-content ul{
	padding: 0px;
	margin: 0px;
	margin-left: 0px;
}
.panel-content li{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.panel-content li.indent{
	padding: 0px;
	background-image: url("images/list.gif");
	background-repeat: no-repeat;
	text-indent: 15px;
}

.panel-content ul ul li{
	padding: 0px;
	background-image: url("images/list.gif");
	background-repeat: no-repeat;
	text-indent: 15px;
}

/* user panel login form */
#loginForm {
	width: 95%;
}

/* calendar panel */
#calendar {
  width: 100%; 
  margin-top:1px;
  font-family: verdana;
}
.calendar-top {
  text-align: center;
  padding:0px;
}
.calendar-year,
.calendar-month {
  font-weight: bold;
}
.calendar-weekdays {
  color: #666666;
  font-size:10px;
  text-align: center;
  width: 14%;
  padding:0px;
}
.calendar-weekday-cell {
  color: #ab0800;
  font-size:10px;
  text-align: center;
  width: 14%;
  padding:0px;
  font-weight: bold;
}
.calendar-main {
  background-color: #FFFFFF;
}
.calendar-day,
.calendar-day-blank,
.calendar-saturday,
.calendar-sunday,
.calendar-today{
  text-align: center;
  width: 14%;
  padding:0px;
  background-color: #F6F3E6;
}
.calendar-saturday,
.calendar-sunday {
  color: #ab0800; 
}
.calendar-today { 
  color: #fff;
  background: #ab0800;
}
.calendar-day a, .calendar-saturday a, .calendar-sunday a {
  color: #000000; 
  text-decoration: none;
  background-color: #ffffcc;
}
.calendar-today a {
  color: #fff;
  text-decoration: underline;
}

/****** Search Panel ******/
.search-field { 
  width: 125px;
  margin-bottom: 5px;
  border: 1px solid #c7b77e;
}

/****** Announcement Box ******/
.announce{
	border: 0px dashed #BFCAD2 !important;
	border: 0px dotted #BFCAD2;
	margin-bottom: 15px;
}
.announce-content{
	word-wrap: break-all;
	padding: 10px; color: #333333; 
}

/****** Defaul Page Elements ******/
.article-top {
	padding: 5px;
	margin-bottom: 15px;
}
.article-bottom {
	padding: 5px;
	margin-top: 15px;
}

/* page links */
.pages {
	color: #999999;
}
.pagelink-current {
	font-weight: bold;
}

.listbox {
	padding-top: 5px;
	padding-bottom: 5px;
}
.listbox-table {
	width: 99%;
}
.listbox-header {
	font-weight: bold;
	text-align: center;
	background-color: #6ba3c4;
	color: #ffffff;
	height: 25px;
}
.listbox-entry {
	word-wrap: break-all;
	color: #c7b77e;
	padding: 5px;
	border-bottom: 1px solid #ffffff;
}
.listbox-entry a{
	word-wrap: break-all;
}

/* entry display box */
.prev-article{ float: left; }
.next-article{ float: right; }

/* text box */
.textbox{
	padding-bottom: 25px;
	margin-bottom: 5px;
}
.textbox-title{
	background: url('./images/title_bg.jpg') no-repeat;
	word-wrap: break-all;
	font-size: 14px;
	padding-top: 0px;
	padding-left: 10px;
	height: 42px;
}
.textbox-title h4{
	margin-left: 0px;
	color: #000000;
	padding-left: 15px;
	font-size: 14px;
	display: inline;
}
.textbox-title h4 a {
	color: ##AB0800;
}
.textbox-label{
	padding-top: 10px;
	padding-left: 5px;
	color: #999999;
	font-size: 10px;
	font-family: verdana;
}
.textbox-fontsize{
	color: #979797;
	float: right;
	text-align: right;
	padding: 3px;
	padding-top: 10px;
	font-size: 10px;
}
.textbox-fontsize a{
	color: #979797;
}
.textbox-content{
	word-wrap: break-word;
	padding: 10px;
}
.textbox-bottom{
	border-top: 1px solid #c7b77e;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #999999;
	text-align:right;
}
.textbox-bottom a {
	color: #999999;
	text-decoration: none;
}
.textbox-bottom a:hover {
	background-color: #ffffcc;
	color: #999999;
	text-decoration: none;
}
.textbox-adminbar {
	padding: 0px;
	padding-bottom: 4px;
	font-size: 12px;
	color: #999999;
	text-align:right;
}
.textbox-tburl {
	padding-top: 3px;
	font-size: 10px;
	color: #999999;
	text-align:left;
	padding-left: 15px;
	background: url('./images/tb_bg.gif') no-repeat 0px;
}
.tags {
	padding-top: 1px;
	padding-bottom: 3px;
	font-size: 11px;
	color: #999999;
	text-align:left;
	padding-left: 15px;
	background: url('./images/tag_bg.gif') no-repeat 0px;
}

/* comments wrapper */
.comment-wrapper{}

/* comments top box */
.comment-top{
	padding:5px;
	padding-top: 0px;
	margin: 5px;
	color: #3F67A5;
	text-align: right;
}
.comment-pages{
	padding:5px;
	margin: 5px;
	color: #3F67A5;
}

/* commnet box */
.commentbox{
	word-wrap: break-word;
	padding: 0px;
	margin: 5px;
	background-color: #ffffe8;
	border: 1px solid #f0dc7a;
}
.commentbox-title{
	padding: 5px;
	border-left: 0px solid #3F67A5;
	background-color: #ffffcc;;
	border-bottom: 1px solid #f0dc7a;
}
.commentbox-label{
	display: inline;
	font-family: verdana;
	color: #6ba3c4;
	font-size: 12px;
}
.commentbox-content{
	padding: 5px;
	padding-bottom: 5px;
}

/* trackback box */
.trackbackbox{
	padding: 0px;
	margin: 5px;
}
.trackbackbox-title{
	padding: 5px;
	border-left: 3px solid #6BA3C4;
}
.trackbackbox-label{
	display: inline;
	color: #999999;
	font-size: 11px;
}
.trackbackbox-content{
	padding: 3px;
	padding-bottom: 14px;
}
.trackbackbox a{
	color: #000000;
}

/* comment form wrapper */
#commentForm {
	width: 99%;
}

/****** normal message box ******/
.messagebox{
 width: 500px;
 margin-top: 120px;
 border: 1px solid #c7b77e; 
 border-top: 0px; 
 text-align: center; 
 background-color: #ffffcc;
}
.messagebox-title{
 /* background: url('images/menu_bg2.png') repeat-x;*/
 color: #C7B77E; 
 font-weight: bold; 
 padding: 5px;
 background-color: #f3f2e4;
 border-top: 1px solid #c7b77e;
 border-bottom: 1px solid #c7b77e;
}
.messagebox-content{
 color: #3F67A5; 
 background:#FFFFcc;
 padding: 10px; 
 padding-bottom: 20px; 
 text-align: left;
}
.messagebox-bottom{
 color: #3F67A5; 
 background-color: #6ba3c4; 
 padding: 5px;
 border-top: 1px solid #c7b77e;
}


/****** Input Form Styles (table) ******/
.formbox{}
.formbox-comment{
	padding-top: 10px;
}

.formbox-title,
.formbox-comment-title{
	color: #ab0800;
	font-weight: bold;
	border: 1px solid #F0DC7A;
	background-color: #ffffcc;
	padding: 5px;
	text-align: center;
}

.formbox-rowheader {
	padding: 5px;
	font-weight: bold;
}

.formbox-content {
	padding: 5px;
}

/* smilies list */
.panel-smilies {
	padding:5px;
	text-align: center;
}
.panel-smilies-title {
	color: #c7b77e;
	text-align: left;
	border-bottom: 1px solid #c7b77e;
}
.panel-smilies-content {
	padding: 5px;
	line-height: 120%;
}


/****** UBB Code Custom Styles ******/
/* IE fix for ul */
.code {
	word-wrap: break-all;
	border-left: 4px solid #f0dc7a;
	background-color: #ffffcc;
	color: #333333;
	margin: 5px;
	padding: 10px;
	border-top: 1px solid #f0dc7a;
	border-bottom: 1px solid #f0dc7a;
	border-right: 1px solid #f0dc7a;
	font-family: verdana;
	font-size: 10px;
}

.quote {
	border: 1px solid #A3DDFA;
	margin: 10px;
}
.quote-title {
	background-color: #DFF3FD;
	border-bottom: 1px solid #A3DDFA !important;
	border-bottom: 1px solid #A3DDFA;
	padding: 5px;
	font-weight: bold;
	color: #3F67A5;
}
.quote-title img {
	padding-right: 3px;
	margin-bottom: -4px;
}
.quote-content {
	word-wrap: break-all;
	color: #000000;
	padding: 10px; 
	background-color: #ffffff;
	border: 1px solid #E6EEF7;
	border-top: 0px;
}

/****** Link ******/
.linkover {
	margin-bottom: 50px;
	height: auto;
	clear: both;
}
.linkbody {
	margin-top: 5px;
	width: 50%;
	float: left;
}
.linkimg {
/*	width: 35%;*/
	float: left;
	text-align: right;
	margin-right: 4px;
}
.linktxt {
	float: left;
}
.linktitle a {
	font-weight: bold;
}
.linkgroup {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	color: #000000;
}